/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

body {
	background-image: url(../img/texture-light.png);
	background-repeat: repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding: 10px;
}

header {
	margin: 15px auto;
	padding: 10px 30px 10px 30px;
	background-color: `
}

nav {
	background-color: #D74710;
	border-radius: 5px;
}

nav li {
	font-weight: bold;
	padding: 7px;
	display: inline-block;
	color: #FFF;
}

nav li:hover {
	background-color: #FF9D45;
	border-radius: 5px;
}

.message {
	width: 75%;
	margin: 20px auto;
	padding: 7px 30px 7px 30px;
	background-color: #FBEAE3;
	text-align: center;
	border-radius: 3px;
}

.message a:hover {
	text-decoration: underline;
}

section h2 {
	font-size: 150%;
	font-weight: bold;
	color: #116189;
	margin-bottom: 10px;
}

footer {
	display: block;
	clear: right; /* OCD :-) */
	border-style: solid;
	border-top: solid 1px #C0C0C0;
	margin-top: 20px;
	font-size: 80%;
	font-style: italic;
}

footer p{
	margin-top: 2px;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
}

nav a,
nav a:visited {
	color: #FFF;
}

.content-box {
	background-color: white;
	border-style: solid;
	width: 80%;
	margin: 0px auto;
	padding: 10px;
	box-shadow: 2px 2px 6px #AAA;
}

.banner {
	margin: 0 auto 15px;
}

.logo {
	float: left;
	margin-right: 10px;
}

.corporate-name {
	font-family: "Boogaloo", sans-serif;
	font-size: 36px;
	color: #116189;
}

.motto {
	font-style: italic;
	font-size: 120%;
	margin: 10px auto;
}

.factory-img {
	float: left;
	margin: 0px 5px 10px 0px;
}

.free_shipping-img {
	float: right;
	margin: 10px 0px 0px 5px;
}

.person {
	margin-bottom: 30px;
	display: block; 
}

.name {
	color: #116189; 
	font-weight: bold;
}

.person .photo {
	float: left;
}

.product {

}

.product {
	margin-bottom: 30px;
	display: block;
}

.product .product-img {
	float: left;
	margin-right: 10px;
}

.product .product-name {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 5px;
}

.product .price {
	font-style: italic;
}



